Makefile
setup*.yml

### github.com/controlplaneio/ensure-content.git dockerignore START ###
Dockerfile
Dockerfile*
Jenkinsfile*
.git/
.idea/
*.iml
### github.com/controlplaneio/ensure-content.git dockerignore END ###
